# Controls which environment the system runs in: stateful (local) or stateless (cloud).

DOCKER_ENV=false
STATELESS_MODE=false
TRANSPORT_MODE=stdio
indicators=[]

# Defines the active chat thread when running via terminal (main.py). Change this to start a new conversation. In the UI this is handled automatically.

DEFAULT_THREAD_ID=4

# These two are required for Google search API (Programmable Search Engine) availability.

GOOGLE_PSE_API_KEY= ***
GOOGLE_PSE_ENGINE_ID= ***

# Azure OpenAI configuration.
# MODEL_NAME should be your Azure deployment name.

AZURE_AI_ENDPOINT= ***
AZURE_AI_CREDENTIAL= ***
AZURE_API_VERSION=2024-12-01-preview
MODEL_NAME= ***
